/*Main Definitions*/



/** {*/
/*    border: 1px solid red;*/
/*}*/

body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}


html {
    font-family: 'Graduate', cursive;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    color: white;
}

h2 {
    color: white;
    font-size: 20px;
    display: inline-block;
}

h3 {
    color:white;
}

button input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    cursor:pointer;
    font-size:12px;
    border-radius: 5px; 
}

section.main {
    text-align: center;
}

div.helmet {
    display: inline-block;
    width: 20%;
    text-align: center;
}

div.chat {
    width: 20%;
    height: 100%;
    float: right;
    background: white;
    border: 1px ridge black;
}

div.radio {
    text-align: center;
}

div.row {
    display: inline-block;
    width: 100%;
    margin: auto;
}

div.ticker {
    align-content: center;
    display: inherit;
    width: 80%;
    margin:auto;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px ridge black;
}

div.nav {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.qb_position {
    border: 5px ridge darkgray;
    padding: 5px;
    background:lightblue;
}

.rb1_position,
.rb2_position {
    border: 5px ridge darkgray;
    padding: 5px;
    background:lightsalmon;
}

.wr1_position,
.wr2_position,
.wr3_position {
    border: 5px ridge darkgray;
    padding: 5px;
    background:lightskyblue;
}

div.teaminfo {
    align-content: center;
    width: 80%;
    display: inline-block;
    background: lightgray;
}

div.player_list {
    overflow:auto;
    height:500px;
    padding:10px;
}

.error {
    size:18px;
    color:red;
}

/*ID Rules*/

#builder {
    color:white;
}

#player_list {
    padding:5px;
    list-style: none;
}

#login {
    width: 40%;
    border-radius: 5px;
    background: lightgray;
    padding: 15px;
    margin: auto;
    overflow-wrap: normal;
}



#new_user {
    width: 40%;
    border-radius: 5px;
    background: lightgray;
    padding: 15px;
    margin: auto;
    overflow-wrap: normal;
}

/*CLASS RULES*/

.small {
    width: 10%;
    height: auto;
}

.helmet_size {
    width: 60%;
    height: auto;
}

img.helmet_logo {
    width: 5%;
    height: auto;
    vertical-align: middle;
}

.radio {
    display: inline-block;
    width: 150px;
}


/*SECTIONS*/


/*FIRST PAGE, LOGIN*/

.intro {
    text-align: center;
    margin: auto;
    width: 80%;
}

/*TEAM BUILDER PAGE - 2ND PAGE*/

.builder {
    text-align:center;
    display:block;
    width: 65%;
    background:lightgray;
    padding:10px;
    margin:auto;
}

/*MAIN DISPLAY PAGE*/

.main {
    display:none;
    margin:auto;
    width:80%;
}

/*Player Editing Page*/
.player_edits {
    display:inline-block;
    text-align: center;
    width: 80%;
    border-radius:3px;
    background:lightgray;
    margin:auto;
    padding:10px;
}


/*END SECTIONS*/
