/*Main Definitions*/

body {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    margin:0;
}

html {
    font-family: 'Graduate', cursive;
    box-sizing: border-box;
}

font-awesome {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    color: white;
}

h2 {
    color: white;
    font-size: 20px;
    display: inline-block;
}

h3 {
    color:white;
    font-weight:bold;
    text-decoration:underline;
    font-size:20px;
}

section.main {
    text-align: center;
    padding:5px;
}

div.helmet {
    display: inline-block;
    width: 20%;
    text-align: center;
}

div.radio {
    text-align: center;
}

div.row {
    display: inline-block;
    width: 100%;
    margin: auto;
}

div.nav {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    width: 100%;
    text-align: center;
}

div.teaminfo {
    align-content: center;
    width: 75%;
    padding:10px;
    display: inline-block;
    background: lightgray;
    border:5px ridge DimGray;
}

input[type=submit] {
    margin:10px;
    padding:10px;
    background:#ccc; 
    cursor:pointer;
    font-size:12px;
    border-radius: 5px; 
}

input[type=button] {
    padding:10px;
    margin:10px;
    background:#ccc; 
    cursor:pointer;
    font-size:12px;
    border-radius: 5px; 
}

input[type=reset],
button[type=reset] {
    padding:10px;
    margin:10px;
    background:#ccc; 
    cursor:pointer;
    font-size:12px;
    border-radius: 5px; 
}

.teamname {
    color:black;
}

.ticker {
    align-content: center;
    display: inherit;
    width: 75%;
    margin:auto;
    background: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px ridge black;
}

.qb_position {
    border: 5px ridge darkgray;
    padding: 5px;
    display:block;
    font-style: oblique;
    color:black;
    background-size:cover;
    background-repeat:no-repeat;
}

.pos_title {
    text-decoration:underline;
    font-weight:bold;
}

a:link,
a:visited {
    color:black;  
}

.rb1_position,
.rb2_position {
    border: 5px ridge darkgray;
    padding: 5px;
    display:inline-block;
    width:46%;
    margin:10px;
    height:auto;
    align-content:center;
    text-align:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.wr1_position,
.wr2_position,
.wr3_position {
    border: 5px ridge darkgray;
    margin:10px;
    padding: 5px;
    width:30%;
    margin:auto;
    display:inline-block;
    background-size:cover;
    background-repeat:no-repeat;
}

.k_position,
.def_position {
    margin:10px;
    border:5px ridge darkgray;
    width:80%;
    margin:auto;
    padding:5px;
    background-size:cover;
    background-repeat:no-repeat;
}

.player_list {
    padding:10px;
    list-style:none;
}

.indiv_players {
    border:1px solid;
    padding:10px;
}

.error {
    size:18px;
    color:red;
}

.small {
    width: 10%;
    height: auto;
}

.header {
    size:24px;
    text-decoration:underline;
}

.helmet_size {
    width: 50%;
    height: auto;
    border:1px solid;
}

img.helmet_logo {
    width: 5%;
    height: auto;
    vertical-align: middle;
}

.radio {
    display: inline-block;
    width: 150px;
}

/*ID Rules*/

#new_user {
    color:white;
    font-size:16px;    
}

#builder {
    color:white;
}

#new_user_details {
    text-align:center;
    list-style:none;
    padding-left:0px;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
}

#outlink {
    text-decoration:none;
}

#login {
    width: 40%;
    border-radius: 5px;
    background: lightgray;
    padding: 15px;
    margin: auto;
    overflow-wrap: normal;
}

#new_user {
    width: 80%;
    border-radius: 5px;
    background: lightgray;
    padding: 15px;
    margin: auto;
    overflow-wrap: normal;
    border:3px ridge DimGray;
}

/*SECTIONS*/
/*FIRST PAGE, LOGIN*/

.intro {
    padding-top:25px;
    text-align: center;
    margin: auto;
    width: 80%;
}

/*NEW ACCOUNT SIGNUP PAGE*/

.new_account {
    width:50%;
    display:none;
    text-align:center;
    margin:auto;
    padding-top:20px;
}

/*TEAM BUILDER PAGE - 2ND PAGE*/

.builder {
    text-align:center;
    display:block;
    width: 65%;
    background:lightgray;
    padding:10px;
    margin:auto;
    border:3px ridge DimGray;
}

/*MAIN DISPLAY PAGE*/

.main {
    display:none;
    margin:auto;
    width:80%;
}

/*Player Editing Page*/
.player_edits {
    display:block;
    text-align: center;
    width: 50%;
    border-radius:3px;
    background:lightblue;
    margin:auto;
    padding:10px;
    border:3px ridge DimGray;

}
/*END SECTIONS*/
